server:
  port: 6004
  servlet:
    context-path: /payment-api

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_NAME:postgres}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  redis:
    host: ${REDIS_HOST:redis}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD}

jwt:
  secret: "${JWT_SECRET}"
  access-expire: 900000

auth:
  gateway:
    mode: gateway

grpc:
  client:
    chain-service:
      address: static://backend-chain:9092
      negotiation-type: plaintext
